<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="Artwork of Marcus Bowcott">
  <meta name="author" content="Marcus Bowcott">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/core-js/client/shim.min.js"></script>
  <script src="https://unpkg.com/zone.js@0.7.4?main=browser"></script>
  <script src="https://unpkg.com/reflect-metadata@0.1.8"></script>
  <script src="https://unpkg.com/systemjs@0.19.39/dist/system.src.js"></script>

  <script src="systemjs.config.js"></script>
  <script>
    System.import('app.component.ts').catch(function(err) {
      console.error(err);
    });
  </script>

</head>
<body>
  <nav class="navbar navbar-inverse">
         <div class="container-fluid">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
                 <a class="navbar-brand" href="#">{{title}}</a>
             </div>
             <div class="collapse navbar-collapse" id="myNavbar">
                 <ul class="nav navbar-nav">
                     <li class="active"><a href="./index.html">Home</a></li>
                     <li><a href="#">About</a></li>
                     <li><a href="#">Contact Us</a></li>
                 </ul>
             </div>
         </div>
     </nav>
     <div class="container">
     <div class=title> Marcus Bowcott </div>
     <div class="sub_title"> Painter and Sculptor </div>
     <hr />
   </div>

  <div class="container text-center">
    <div *ngFor="let item of data">
      <img class="img-thumbnail" src="{{baseUrl}}{{item.Photo}}" >
      <h4 class="">{{item.Name}}</h4>
      <p class="">{{item.Height}} x {{item.Height}} {{item.Medium}}</p>
      <hr />
    </div>
  </div>
</body>

</html>
